PORT = 8000
MONGODB_URI=..
CORS_ORIGIN=*  // * মানে ঃ req যেখান থেকেই আসুক,accept করবে।

ACCESS_TKEN_SECRET=..
ACCESS_TOKEN_EXPIRY=.. //db তে store হবেনা।
REFRESH_TOKEN_SECRET=.. //db তে store হবে।
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=..
CLOUDINARY_API_KEY=..
CLOUDINARY_API_SECRET=..